{% extends 'base.html' %}

{% block content %}
<div class="header">
  <p>Thank you for placing an order.</p>
  <p>Your order details are below.</p>
</div>
<div class="div_cars">
  <p>Order number {{ booking.id }}</p>
  <p>Make: {{ car.car_brand }}</p>
  <p>Model: {{ car.car_model }}</p>
  <p>Fuel type: {{ car.get_car_fuel_display }}</p>
  <p>Reservation date</p>
  <p>From: {{ start_date }}</p>
  <p>To: {{ end_date }}</p>
  <p>Price total: {{ rental_days_amount }}</p>
</div>

{% endblock content %}