{% extends 'base.html' %}

{% block content %}
<div class="div_cars">
  <p>Chosen car:</p>
  <p>Make: {{ car.car_brand }}</p>
  <p>Model: {{ car.car_model }}</p>
  <p>Numer of seats: {{ car.car_seats }}</p>
  <p>Fuel type: {{ car.get_car_fuel_display }}</p>
  <p>Price/day: {{ car.car_price_per_day }}</p>
  <button class="button1">
    <a href="{% url 'car_rental:available_cars' reservation_id %}">Back to list</a>
  </button>
  <button class="button1">
    <a href="{% url 'car_rental:booking_view' %}">Order</a>
  </button>
</div>
{% endblock %}