{% extends 'base.html' %}

{% block content %}
  <p>Tutaj jest sesja i data początkowa {{ start_date }}</p>
  <p>Tutaj jest sesja i data końcowa {{ end_date }}</p>
  <p>Tutaj jest sesja i ajdi rezerwacji {{ reservation_id }}</p>
  <p>{{ car.car_brand }}</p>
  <p>{{ car.car_model }}</p>
  <p>{{ car.car_seats }}</p>
  <p>testowo car ajdi {{ car.id }}</p>
    <a href="{% url 'car_rental:available_cars' reservation_id %}">Powrót do listy</a>
    <a href="{% url 'car_rental:booking_view' %}">Zamów</a>
{% endblock %}